@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: "Poppins", sans-serif;
}

.sansfont {
  font-family: "Open Sans", sans-serif;
}
.headingfont {
  font-family: "Volkhov", serif;
}
.bg-image {
  background-image: url("../src/assets/images/bg-image.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}

.play-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #ffffff;
  border-bottom: 5px solid transparent;
}

.shadowDrop {
  /* Rectangle 6 */

  /* white */
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
}

.bg-image-category {
  background-image: url("./assets/images/bgstar.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 150px;
}

.bg-image-category-services {
  background-image: url("./assets/images/bgblob.png");
}
